body,
html {
  padding: 0;
  margin: 0;
  font-family: "HyundaiKRRegular", "HyundaiKRTextRegular", "HyundaiRegular",
    "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo",
    "굴림", arial, sans-serif;
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
.btn {
  background-color: #f6f3f2;
}
.left {
  float: left;
}
.header {
  .nav {
    background-color: #f6f3f2;
    padding: 25px 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    a,
    .nav-span {
      color: #666;
      font-weight: bolder;
      font-size: 16px;
      padding: 0 30px;
      margin-left: 20px;
      text-decoration: none;
      &:hover {
        color: #002c5f;
      }
    }
    .icon-area img {
      height: 17px;
      margin-right: 15px;
    }
    & :hover {
      color: #002c5f;
    }
  }
  .hidden {
    width: 100%;
    padding: 15px 0;
    background-color: #f6f3f2;
    text-align: center;
    border-bottom: 2px solid #e4dcd3;
    border-top: 2px solid #e4dcd3;
    display: none;
    a {
      color: #666;
      text-decoration: none;
      font-weight: bolder;
      font-size: 16px;
      padding: 24px 0;
      text-shadow: 0 1px 1px #666;
      margin-right: 70px;
      &:hover {
        color: #002c5f;
      }
    }
    #trans:hover {
      transition: all ease 0.4s;
      transform: rotate(90deg);
    }
  }
  .last-header {
    text-align: center;
    padding: 35px 0;
    margin: 10px 0;
    a {
      color: #7e7e7e;
      text-decoration: none;
      font-size: 14px;
      &:after {
        content: "|";
        margin: 0 15px;
      }
      &:hover {
        color: #00aad2;
      }
    }
  }
}
// .header>.nav>a, .nav>.nav-span{
// }

/*동작 x*/

/*main -1*/
.main-part {
  padding-bottom: 30px;
  width: 60%;
  margin: auto;
  .first-img {
    margin-right: 20px;
  }
  p,
  .social-title p {
    color: #002c5f;
    font-size: 15px;
    font-weight: bolder;
    text-shadow: 0 1px 1px #002c5f;
    margin-bottom: 2px;
  }
  span,
  .social-title span {
    display: block;
    font-size: 44px;
    font-weight: bolder;
  }
  .second-img {
    display: inline-block;
    position: relative;
    text-decoration: none;
    .second-item {
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      font-weight: bolder;
    }
    p {
      font-size: 12px;
      padding: 10px;
    }
    span {
      font-size: 20px;
      padding: 20px 5px;
    }
  }
}

/*main -2*/
.main-part2 {
  padding: 20px 10px;
  width: 70%;
  margin: auto;
  a {
    text-decoration: none;
    color: black;
    width: 25%;
    float: left;
    margin: 10px 0;
    /*main-1과 여백 맞추기*/
    &:first-child {
      margin-left: 90px;
    }
    p {
      color: #002c5f;
      font-size: 12px;
      font-weight: bolder;
    }
    span {
      font-size: 18px;
      font-weight: bolder;
      color: black;
    }
  }
  /*이미지 간격 맞추기*/
  .s-area {
    width: 256px;
  }
  .m-area {
    margin-right: -40px;
  }
  .s-second {
    margin-right: -60px;
  }
  .l-area {
    margin-right: 65px;
  }
  &:after {
    float: none;
    clear: both;
    content: "";
    display: block;
  }
}
.social div p {
  color: #002c5f;
  font-size: 12px;
  font-weight: bolder;
}

/*country*/
.country {
  background-color: #002c5f;
  color: white;
  width: 100%;
  height: 595px;
  div {
    width: 60%;
    margin: auto;
    img {
      margin-left: 50px;
      margin-top: 150px;
    }
  }
  &:after {
    float: none;
    clear: both;
    content: "";
    display: block;
  }
  .cou-text {
    display: inline-block;
    width: 270px;
    margin-top: 200px;
    margin-left: 30px;
    h2 {
      font-weight: bold;
      line-height: 1.5;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      padding-bottom: 15px;
    }
    a {
      background-color: #666;
      text-decoration: none;
      color: white;
      padding: 8px 30px;
      font-size: 14px;
      &:hover {
        color: white;
      }
    }
  }
}

/*social*/
.social {
  width: 65%;
  margin: auto;
  padding-bottom: 70px;
  .social-title {
    margin-left: 40px;
    margin-top: 70px;
    span {
      font-size: 32px;
    }
  }
  ul {
    &:after {
      float: none;
      clear: both;
      content: "";
      display: block;
    }
    .left {
      width: 30%;
      margin-right: 30px;
      .soc-img {
        position: relative;
        padding: 10px;
        z-index: 0;
        display: inline-block;
        &:hover {
          display: block;
        }
      }
      a {
        text-decoration: none;
        color: white;
      }
      .hover-span {
        background-color: #002c5f;
        position: absolute;
        top: 10%;
        left: 10%;
        z-index: 10;
        width: 296px;
        height: 296px;
        display: none;
        transition: 0.4s;
        span {
          position: absolute;
          top: 10%;
          left: 15%;
          width: 180px;
          z-index: 100;
        }
        .insta-icon {
          background-image: url(../img/instagram.png);
          background-repeat: no-repeat;
          background-size: 25px;
          height: 25px;
          position: absolute;
          z-index: 1000;
          top: 80%;
          left: 12%;
        }
      }
    }
  }
}

/*footer*/
footer {
  background-color: black;
  overflow: hidden;
  .footer-area {
    width: 60%;
    margin: auto;
    padding: 50px 0;
    img {
      margin-bottom: 30px;
    }
    ul {
      .left {
        width: 25%;
        margin-left: -30px;
        div {
          color: white;
          font-weight: bolder;
          font-size: 18px;
          padding: 10px 0;
        }
        a {
          font-size: 14px;
          color: #cfc8c2;
          padding-bottom: 10px;
          display: inline-block;
          &:hover {
            color: white;
          }
        }
      }
      &:after {
        float: none;
        clear: both;
        content: "";
        display: block;
      }
    }
  }
  .footer-icon {
    margin-bottom: -40px;
    p {
      font-size: 14px;
      font-weight: normal;
      color: #cfc8c2;
    }
    a img {
      width: 21px;
      margin-right: 10px;
      margin-top: -5px;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  .address {
    width: 60%;
    color: #cfc8c2;
    font-size: 14px;
  }
}
