html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
h1,
h3 {
  margin: 30px 0;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.navbar {
  background-color: white;
  height: 50px;
  width: 100%;
  letter-spacing: 3px;
  box-shadow: 3px 4px 8px -3px #6d6d6d;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow: hidden;
}
.navbar a {
  color: black;
}
.navbar div {
  margin: 15px 30px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.right a {
  margin-right: 15px;
}
.navbar a {
  padding: 10px;
}
.navbar::after {
  content: "";
  display: block;
  float: none;
  clear: both;
}
.navbar a:hover {
  background-color: #cccccc;
}
.main-img {
  margin: auto;
  position: relative;
  z-index: 80;
  overflow: hidden;
}
.main-text span b {
  background-color: black;
  color: white;
  padding: 0.2em 0.4em;
  opacity: 0.7;
  letter-spacing: 5px;
}
.main-text span {
  font-size: 36px;
}
.main-text span:last-child {
  color: white;
  font-weight: 400;
  letter-spacing: 5px;
}
.img-area {
  position: relative;
  margin-bottom: 5em;
}
.main-text h1 {
  position: absolute;
  z-index: 90;
  top: 45%;
  left: 40%;
}
.bigbox {
  width: 80%;
  margin: auto;
}
.border {
  border-top: 1px solid #f1f1f1;
}
#project h1 {
  font-size: 24px;
}
.pro-gallery {
  display: flex;
  margin: 2em 0;
}
.pro-gallery > div {
  position: relative;
  margin: 1em;
}
.pro-gallery > div:first-child {
  margin-left: 0;
}
.pro-gallery > div:last-child {
  margin-right: 0;
}
.pro-gallery img {
  width: 100%;
}
.pro-gallery > div > div {
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  top: 0%;
  left: 0%;
}

#about {
  margin-top: 5em;
}
.about-text {
  line-height: 1.5;
  width: 100%;
}
.about-area {
  margin-top: 3em;
  display: flex;
}

.about-area div {
  margin-left: 1em;
}
.about-area div:first-child {
  margin-left: 0;
}
.about-area img {
  width: 100%;
}

.about-area .text-1 {
  color: gray;
  font-size: 15px;
}
.about-area a {
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  border: none;
  background-color: rgb(218, 218, 218);
}
.about-area a:hover {
  background-color: gray;
}
footer {
  margin-top: 5em;
}
footer h3 {
  font-size: 24px;
}
form input {
  width: 99%;
  padding: 1em;
  padding-right: 0;
  border: 1px solid #ccc;
  margin-bottom: 1em;
}
footer .send-mag {
  margin: 1em 0;
  text-align: center;
  font-size: 15px;
  border: none;
  background-color: black;
  color: white;
  padding: 0.6em 1em;
}
footer .send-mag:hover {
  background-color: gray;
  color: black;
}
footer img {
  width: 100%;
}
.footer-bar {
  width: auto;
  background-color: black;
  padding: 20px 0;
  overflow: hidden;
}
.footer-bar p,
a {
  color: white;
  text-align: center;
}
.footer-bar a {
  text-decoration: underline;
}
.footer-bar a:hover {
  color: green;
}
